.header {
  height: 200px;
  background-color: #00cc99; }

.footer {
  height: 200px;
  background-color: #00cc99; }

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }
  * a {
    text-decoration: none; }
  * ul {
    text-decoration: none; }
    * ul li {
      text-decoration: none; }

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .box:hover {
    width: 200px;
    background-color: #00cc99; }

.PageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .PageContainer .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ddd;
    width: 20%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center; }
    .PageContainer .sidebar .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 1px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 20px;
      width: 100%;
      font-weight: 700;
      display: flex;
      justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .PageContainer .sidebar .mnuBar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 100%;
      padding-left: 0px; }
      .PageContainer .sidebar .mnuBar li {
        padding-top: 5px;
        padding-bottom: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px; }
        .PageContainer .sidebar .mnuBar li img, .PageContainer .sidebar .mnuBar li i {
          padding-left: 25px; }
        .PageContainer .sidebar .mnuBar li .text {
          padding-left: 15px; }
      .PageContainer .sidebar .mnuBar .active {
        border-left: 5px solid #198754;
        color: #198754; }
    .PageContainer .sidebar .profile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 5px; }
      .PageContainer .sidebar .profile .mail {
        color: #ccc;
        font-size: 15px; }
  .PageContainer .mainContent {
    width: 80%; }
    .PageContainer .mainContent .pgbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-top: 15px;
      margin-right: 20px;
      border-radius: 25% 10%; }
      .PageContainer .mainContent .pgbar ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .PageContainer .mainContent .pgbar ul .active {
          background-color: #198754;
          color: white;
          font-weight: 700; }
        .PageContainer .mainContent .pgbar ul :first-child {
          font-weight: bolder;
          font-size: larger;
          border-top-left-radius: 8px 8px;
          border-bottom-left-radius: 8px 8px; }
        .PageContainer .mainContent .pgbar ul :last-child {
          font-weight: bolder;
          font-size: larger;
          border-top-right-radius: 8px 8px;
          border-bottom-right-radius: 8px 8px; }
        .PageContainer .mainContent .pgbar ul li {
          padding: 15px;
          border: 2px solid green;
          cursor: pointer; }
    .PageContainer .mainContent .titleBar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 35px; }
      .PageContainer .mainContent .titleBar .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 10px;
        margin-left: 15px;
        padding-left: 10px;
        width: 25%;
        font-weight: 700;
        /*     outline:1px solid black; */
        cursor: pointer; }
        .PageContainer .mainContent .titleBar .logo i {
          color: #198754; }
      .PageContainer .mainContent .titleBar .search {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 10px;
        margin-left: 15px;
        padding-left: 10px;
        width: 8%; }
    .PageContainer .mainContent table {
      width: 100%;
      text-align: center; }
      .PageContainer .mainContent table thead th {
        border-bottom: 1.5px solid #000;
        font-weight: 700; }
      .PageContainer .mainContent table tbody tr {
        border-bottom: 1px solid #ddd; }
        .PageContainer .mainContent table tbody tr td {
          padding: 20px; }
          .PageContainer .mainContent table tbody tr td i {
            margin: 5px; }

/*# sourceMappingURL=all.css.map */
